# Exotel Credentials
EXOTEL_ACCOUNT_SID=kalikastore2
EXOTEL_API_KEY=5652ceb9c247130879c59baa1ab66bbdd0855807bbe157c0
EXOTEL_API_TOKEN=484730b424cefeca43485b756d75bce2ce93d722ea388be4
EXOTEL_SUBDOMAIN=api.exotel.com

# Firebase Admin (Optional, if using custom tokens)
# FIREBASE_SERVICE_ACCOUNT_JSON=
